body {
    color: darkkhaki;
    margin-left: auto;
  margin-right: auto;
  width: 10em;
  font-size: 35px;
  
   
}
button{
    background-color: silver 
    color: black; 
    border: 5px solid burlywood;
}
input{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: burlywood;
  color: black;
}
    
   
}
